body {
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    flex: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1em;
    width: 100%;
}

.small table {
    font-size: .8em;
}

td, th {
    vertical-align: top;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

ul { margin: 0; padding-left:1em;}

button {
    display: block;
    padding: .8em 1.6em;
    font-size: 1em;
    font-weight: 900;
    margin: 1em 0;
    flex: 1;
    gap: 1em;
}

textarea {
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

h1 {
    font-weight: 700;
    font-size: 1.7em;
}

h1 a {
    text-decoration: none;
    margin-right: 8px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
    margin-left: 20%;
    margin-right: 20%;
    }
}