body {
    font-family: 'Open Sans', serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    flex: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #ddd;
    table-layout: fixed;
    text-align: left;
    font-size: 1em;
}

.small table {
    font-size: .8em;
}

td, th {
    vertical-align: top;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

ul { margin: 0; padding-left:1em;}

button {
    display: block;
    padding: .8em 1.6em;
    font-size: 1em;
    font-weight: 900;
    margin: 1em 1em 0 0;
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h1 a {
    text-decoration: none;
    margin-right: 8px;
}